@using EduCourse.Entities
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Caching.Memory
@using Newtonsoft.Json
@inject UserManager<User> UserManager
@{
    var user = UserManager.GetUserAsync(User).Result;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>LotusAcademy</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Stripe.js -->
    <script src="https://js.stripe.com/v3/"></script>

    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.svg" asp-append-version="true">

    <script src="~/assets/js/theme-script.js" type="c3c670991341dec57f2846ac-text/javascript"></script>

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />

    <script src="~/assets/js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css" />

    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css"/>

    <link rel="stylesheet" href="~/assets/plugins/feather/feather.css"/>

    <link rel="stylesheet" href="~/assets/plugins/slick/slick.css"/>
    <link rel="stylesheet" href="~/assets/plugins/slick/slick-theme.css"/>

    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css"/>

    <link rel="stylesheet" href="~/assets/plugins/swiper/css/swiper.min.css"/>

    <link rel="stylesheet" href="~/assets/plugins/aos/aos.css"/>

    <link rel="stylesheet" href="~/assets/css/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/akiran/theia-sticky-sidebar@1.9.0/dist/theia-sticky-sidebar.min.js"></script>
    <script>
        AOS.init();
    </script>
</head>
<body class="home-two">

    <!-- Thêm loading spinner vào trang -->
    <div id="loading-overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.8); z-index: 9999; text-align: center;">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <p>Đang xử lý, vui lòng đợi...</p>
        </div>
    </div>

    <style>
        .swal-custom-popup {
            background-color: #a52effa3;
            color: black;
        }

        .swal-custom-title {
            color: black;
        }

        .swal-custom-confirm, .swal-custom-cancel {
            background-color: #ffffffd9;
            color: #000000;
        }

            .swal-custom-confirm:hover, .swal-custom-cancel:hover {
                background-color: #ebebeb;
                color: black;
            }

    </style>
    <div class="main-wrapper">

        <header class="header header-two">
            <div class="header-fixed">
                <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
                    <div class="container">
                        <div class="navbar-header">
                            <a id="mobile_btn" href="javascript:void(0);">
                                <span class="bar-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                            <a href="/" class="navbar-brand logo">
                                <img src="~/Lotus.png" class="img-fluid" alt="Logo" asp-append-version=true>
                            </a>
                        </div>
                        <div class="main-menu-wrapper">
                            <div class="menu-header">
                                <a href="/" class="navbar-brand logo">
                                    <img src="~/Lotus.png" class="img-fluid" alt="Logo" asp-append-version=true>
                                </a>
                                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                            <ul class="main-nav">
                                <li class="has-submenu menu-effect">
                                    <a href="/">Trang chủ</a>
                                </li>
                                <li class="has-submenu menu-effect">
                                    <a href="/home/search">Khóa học</a>
                                </li>
                                <li class="has-submenu menu-effect">
                                    <a href="#">Thể loại<i class="fas fa-chevron-down"></i></a>
                                    <ul class="submenu">
                                        @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

                                        @{
                                            var categoryJson = HttpContextAccessor.HttpContext.Session.GetString("CategoryList");

                                            if (!string.IsNullOrEmpty(categoryJson))
                                            {
                                                var categories = JsonConvert.DeserializeObject<List<Category>>(categoryJson);
                                                foreach (var category in categories)
                                                {
                                                    <li><a href="/home/search?name=@category.Name">@category.Name</a></li>
                                                }
                                            }
                                        }


                                        
                                    </ul>
                                </li>

                                <li class="has-submenu menu-effect">
                                    <a href="#">Liên hệ</a>
                                </li>
                                <li class="has-submenu menu-effect">
                                    <a href="/exam">Cuộc thi</a>
                                </li>

                            </ul>
                        </div>
                        <ul class="nav header-navbar-rht">
                            <li class="nav-item">
                                <div>
                                    <a href="javascript:void(0);" id="dark-mode-toggle" class="dark-mode-toggle  ">
                                        <i class="fa-solid fa-moon"></i>
                                    </a>
                                    <a href="javascript:void(0);" id="light-mode-toggle" class="dark-mode-toggle ">
                                        <i class="fa-solid fa-sun"></i>
                                    </a>
                                </div>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {

                                <li class="nav-item cart-nav">
                                    <a href="/cart" >
                                        <img src="~/assets/img/icon/cart.svg" alt="img">
                                    </a>

                                </li>
                                <li class="nav-item user-nav">
                                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                        <span class="user-img">
                                            <img src="~/assets/img/user/user11.jpg" alt="Img">
                                            <span class="status online"></span>
                                        </span>
                                    </a>
                                    <div class="users dropdown-menu dropdown-menu-right" data-popper-placement="bottom-end">
                                        <div class="user-header">
                                            <div class="avatar avatar-sm">
                                                <img src="~/assets/img/user/user11.jpg" alt="User Image"
                                                     class="avatar-img rounded-circle">
                                            </div>
                                            <div class="user-text">
                                                <h6>@user.FullName</h6>
                                            </div>
                                        </div>

                                        @if (User.IsInRole("Instructure") || User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item" href="/admin">
                                                <i class="feather-shield me-1"></i> Trang quản trị
                                            </a>
                                        }
                                        <a class="dropdown-item" href="/profile">
                                            <i class="feather-user me-1"></i> Trang cá nhân
                                        </a>
                                        <a class="dropdown-item" href="/profile/historyOrder">
                                            <i class="feather-upload me-1"></i> Đơn hàng
                                        </a>
                                        <a class="dropdown-item" href="/home/StudentExam">
                                            <i class="feather-star me-1"></i> Bài thi
                                        </a>
                                        <a class="dropdown-item" href="/profile/courseprofile">
                                            <i class="feather-book me-1"></i> Khóa học đã mua
                                        </a>
                                        <form action="/Auth/Logout" class="dropdown-item" method="post">
                                            <button type="submit" class="signin-head button">
                                                Đăng xuất
                                                <i class="feather-log-out me-1"></i>
                                            </button>
                                        </form>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">

                                    <a asp-controller="Auth" asp-action="Login" class="login-head button">Đăng nhập</a>
                                </li>
                                <li class="nav-item">

                                    <a asp-controller="Auth" asp-action="Register" class="signin-head">Đăng ký</a>
                                </li>
                            }
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        @RenderBody()

        <footer class="footer footer-two">

            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">

                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="~/Lotus.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris
                                    </p>
                                </div>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank"><i class="feather-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="feather-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="feather-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="feather-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-12">

                            <div class="footer-widget footer-menu footer-menu-two">
                                <h2 class="footer-title">For Instructor</h2>
                                <ul>
                                    <li><a href="instructor-profile.html">Profile</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="instructor-list.html">Instructor</a></li>
                                    <li><a href="instructor-dashboard.html"> Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-12">

                            <div class="footer-widget footer-menu footer-menu-two">
                                <h2 class="footer-title">For Student</h2>
                                <ul>
                                    <li><a href="/profile/account">Profile</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="students-list.html">Student</a></li>
                                    <li><a href="student-dashboard.html"> Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">

                            <div class="footer-widget footer-contact footer-contact-two">
                                <h2 class="footer-title">Address</h2>
                                <div class="footer-contact-widget">
                                    <div class="footer-address">
                                        <h6>Location</h6>
                                        <p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
                                    </div>
                                    <h6>Email Address</h6>
                                    <p>
                                        <a href="https://dreamslms.dreamstechnologies.com/cdn-cgi/l/email-protection#bdd9cfd8dcd0ced1d0cefdd8c5dcd0cdd1d893ded2d0"><span class="__cf_email__" data-cfemail="73170116121e001f1e0033160b121e031f165d101c1e">[email&#160;protected]</span></a>
                                    </p>
                                    <h6>Phone number</h6>
                                    <p class="mb-0">
                                        <a href="tel:+191234567890">+19 123-456-7890</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="footer-bottom">
                <div class="container">

                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2024 Academic Lotus All rights reserved.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="privacy-policy">
                                    <ul>
                                        <li><a href="term-condition.html">Terms & Condition</a></li>
                                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                        <li><a href="support.html">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </footer>

    </div>


    <script data-cfasync="false" src="~/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

    <script src="~/assets/js/bootstrap.bundle.min.js" type="c3c670991341dec57f2846ac-text/javascript"></script>

    <script src="~/assets/js/owl.carousel.min.js" type="c3c670991341dec57f2846ac-text/javascript"></script>

    <script src="~/assets/plugins/aos/aos.js" type="c3c670991341dec57f2846ac-text/javascript"></script>

    <script src="~/assets/js/jquery.waypoints.js" type="c3c670991341dec57f2846ac-text/javascript"></script>
    <script src="~/assets/js/jquery.counterup.min.js" type="c3c670991341dec57f2846ac-text/javascript"></script>

    <script src="~/assets/plugins/select2/js/select2.min.js" type="c3c670991341dec57f2846ac-text/javascript"></script>

    <script src="~/assets/plugins/slick/slick.js" type="c3c670991341dec57f2846ac-text/javascript"></script>

    <script src="~/assets/plugins/swiper/js/swiper.min.js" type="c3c670991341dec57f2846ac-text/javascript"></script>

    <script src="~/assets/js/script.js" type="c3c670991341dec57f2846ac-text/javascript"></script>
    <script src="~/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="c3c670991341dec57f2846ac-|49" defer></script>
</body>

<!-- Mirrored from dreamslms.dreamstechnologies.com/html/index-two.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Aug 2024 13:28:03 GMT -->
</html>